@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,700,300);

@white-87: rgba(255, 255, 255, 0.87);
@white-54: rgba(255, 255, 255, 0.54);

@black-87: rgba(0, 0, 0, 0.87);
@black-54: rgba(0, 0, 0, 0.54);

body {
  font-family: 'Open Sans', sans-serif;
}

.reset-link(@color, @weight: normal, @style: italic) {
  a {
    font-weight: @weight;
    color: @color;
    text-decoration: none;
    font-style: @style;
    &:link {
    }
    &:visited {
    }
    &:hover {
    }
    &:active {
    }
  }
}

.section {
  color: @white-87;

  .reset-link(@white-87, bold);

	line-height: 100%;
	// font-size: 96px;
  padding: 100px;

  font-size: 24px;
  line-height: 32px;
  p {
    padding: 8px 3px;
  }
  code {
    text-decoration: underline;
    font-weight: bold;
  }

  pre>code {
    font-weight: normal;
    text-decoration: none;
  }
  &:after {
    content: "";
    clear: both;
  }

  ul {
    list-style: none;
    padding: 8px;

    li:before {
      content: '-';
      padding-right: 16px;
    }
  }

  pre {
    font-size: 16px;
    line-height: 16px;
    white-space: pre-wrap;
    padding-left: 16px;
    border-left: 3px solid @white-54;
  }
}

.intro {
	background-image: url('diagnoal.png');
  h1 {
    top: 50%;
    position: relative;
    font-size: 72px;
    font-weight: lighter;
    background: #333;
    line-height: 72px;
    width: auto;
    text-transform: uppercase;
    float: left;
    margin-top: 28%;
    text-align: left;
  }

  p {
    text-shadow: 3px 3px #333;
    position: relative;
    float: left;
    font-style: italic;
    font-size: 48px;
    font-weight: 300;
    padding-top: 32px;
    line-height: 48px;
    text-align: left;
  }
}

.l2 {
  &:before {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px 0px 100px 1px;
    content: "";
  }

  h2 {
    color: #50ABF1;
    font-size: 36px;
    line-height: 42px;
    background: rgba(255, 255, 255, 0.87);
    position: relative;
    display: block;
    padding: 8px;
    text-transform: uppercase;
    margin-bottom: 16px;
    clear: both;
  }
}

nav {
  position: fixed;
  height: 32px;
  z-index: 999;
  left: 100px - 32px - 8px;
  top: 100px;
  color: @white-87;
  ul {
    list-style: none;
    li {
      // display: inline-block;
      height: 32px;
      min-width: 32px;
      width: auto;
      background-color: @white-54;
      overflow: hidden;
      margin-bottom: 8px;

      .reset-link(@white-87, bold, normal);
      font-style: regular;
      a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 32px;
        vertical-align: middle;
        transition: all 0.3s ease;
        &:hover:before {
          // position: absolute;
          content: attr(section-title);
          // width: 100%;
        }
        &:before {
          position: absolute;
          // width: 0%;
          left: 32px + 8px;
          background-color: @white-54;
          height: 100%;
          content: "";
        }
      }
    }
  }
}

.section-color(@color) {
	background-color: @color;
  h2 {
    color: @color;
  }
}

table {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  td {
    padding: 8px 2px;
    &:nth-child(2) {
      min-width: 120px;
    }
    &:nth-child(3) {
      max-width: 40%;
    }
    &:nth-child(4) {
      min-width: 120px;
    }
  }
}

#section-1-1 {
	background-color: #333;
}

#section-2-1 {
	.section-color(#50ABF1);
}

#section-2-2 {
  pre {
    position: relative;
    width: 50%;
    float: right;
    line-height: 32px;
    vertical-align: middle;
    margin-top: 16px;
    white-space: pre-wrap;
    padding-left: 16px;
    border-left: 3px solid @white-54;
  }

  ul {
    position: relative;
    width: 40%;
    float: left;
    clear: both;
    margin-top: 8px;
    // line-height: 16px;
  }
	.section-color(#EC4989);
}

#section-2-3 {
	.section-color(#E77B39);
}

#section-2-4 {
	.section-color(#45668E);
}

#section-2-5 {
	.section-color(#DF4A32);
}

#section-2-6 {
	.section-color(#AAD450);
}
