<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>Fancy Scroller</title>
</head>
<body>
  <%- content %>
  <script src="fancy-scroller<%= debug ? '' : '.min' %>.js"></script>
  <script type="text/javascript">
    // loadStyle('style.css');
    window.scroller = new FancyScroller(document.body, {debug: <%= debug %>});
    loadStyle('demo.css');
  </script>
</body>
